div.villageCreateContents {
	width: 600px;
	height: 30px;
	position: relative;
	margin-left: 50px;
	
	border-left: 5px solid #000055;
	border-bottom: 1px solid #000055;
}

div.villageCreateContentsName {
	width: 200px;
	height: 30px;
	
	font-size: 20px;
	text-align: right;
	border-top: 1px solid #000055;
	border-right: 1px solid #000055;
	float: left;
}

.villageCreateTextarea {
	width: 300px;
	margin-left: 5px;
	height: 20px;
	float: left;
	z-index: 1;
}

.villageCreateContentsBaloon {
	display: none;
	width: 350px;
	
	position: absolute;
	top: 100%;
	right: -15%;
	
	-webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
	
	padding: 10px;
	background-color: #000055;
	color: #FFF;
	z-index: 2;
}

.villageCreatePadding {
	width: 600px;
	height: 30px;
}

.villageCreateTimeForm {
	width: 50px;
	height: 20px;
	
	margin-top: 2px;
	margin-left: 5px;
}

#villageCreateBackButton {
	width: 50px;
	height: 20px;
	
	-webkit-appearance: none;
	margin-left: 220px;
}

#villageCreateButton {
	width: 100px;
	height: 50px;
	
	-webkit-appearance: none;
	margin-left: 20px;
}
